@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1566321526629-d4abadc2085e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2286&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
}

nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0 30px 0 50px;
  top: 0;
  left: 0;
  height: 100vh;
}
